#!/usr/bin/env python
import os
import sys


# Settings
#
library_name = "lib{{lib_name}}"
demo_addons_path = "demo/addons/{{name}}"
bin_path = "bin"
source_path = "src"


# Build definition
#
env = SConscript("godot-cpp/SConstruct")
env.Append(CPPPATH=[f"{source_path}/"])

sources = Glob(f"{source_path}/*.cpp")

library_file_name = "{}{}{}".format(library_name, env["suffix"], env["SHLIBSUFFIX"])
if env["platform"] == "macos" or env["platform"] == "ios":
    file_name = "{}.{}.{}".format(library_name, env["platform"], env["target"])
    library_file_name = "{}.framework/{}".format(file_name, file_name)

library_file = "{}/{}/{}".format(bin_path, env["platform"], library_file_name)
library = env.SharedLibrary(library_file, source=sources)

copy_demo = env.InstallAs("{}/{}".format(demo_addons_path, library_file_name), library)

default_args = [library, copy_demo]
Default(*default_args)
